.App {
  text-align: center;
}

.App{
  height: 100vh;
}
table{
  width: 100%;
 
}
.link{
  text-decoration: none;
  color: inherit;
  
}
.dark-mode{
  background-color: black;
  color:white;
  display: block;
}

.white-mode{
  background-color: white;
  color:black;
}
button{
  cursor: pointer;
  padding: 5px 20px;
  margin: 20px;
}

select{
  padding: 5px 10px;
}